section.about-section
  .wrapper
    .about-section__container
      .about-section__title
        h3.font-s-50.font-w-inter-bold Оказываем <mark> юридические </mark>
        h3.font-s-50.font-w-inter-bold <mark> услуги </mark> по защите должников 
        h3.font-s-50.font-w-inter-bold и дольщиков
        h6.about-section__text Почему клиенты выбирают нас:
      .swiper-about
        .about-section__cards.swiper-wrapper
          .about-section__card.swiper-slide
            img.about-section__card-img(src="images/about-section-arms.svg" loading="lazy" width="80" height="82" alt="arms")
            .about-section__card-num.font-s-24.font-w-bold 01
            h4.about-section__card-text.font-s-24.font-w-bold Глубокое понимание
            p.font-s-16 Наша команда состоит из опытных юристов, специализирующихся <br> на различных областях права. <br>
              |Мы тщательно изучаем каждый <br> случай и предоставляем <br> клиентам качественные <br> и индивидуальные решения
          .about-section__card.swiper-slide
            img.about-section__card-img(src="images/about-section-arms.svg" loading="lazy" width="80" height="82" alt="arms")
            .about-section__card-num.font-s-24.font-w-bold 02
            h4.about-section__card-text.font-s-24.font-w-bold Результативность
            p.font-s-16 Наша главная цель — достижение оптимальных результатов для каждого клиента. Мы не только предлагаем юридические консультации, <br>
              |но и активно работаем&nbsp;над&nbsp;реализацией <br> этих решений, обеспечивая <br> положительный и долгосрочный исход.
          .about-section__card.swiper-slide
            img.about-section__card-img(src="images/about-section-arms.svg" loading="lazy" width="80" height="82" alt="arms")
            .about-section__card-num.font-s-24.font-w-bold 03
            h4.about-section__card-text.font-s-24.font-w-bold Коммуникация <br> и прозрачность
            p.font-s-16 Мы ценим наших клиентов <br>
              |и стремимся установить прочные отношения с каждым из них. Гарантируем открытую и прозрачную коммуникацию, регулярные обновления о ходе дела и готовность ответить на любые вопросы.
          .about-section__card.swiper-slide
            img.about-section__card-img(src="images/about-section-arms.svg" loading="lazy" width="80" height="82" alt="arms")
            .about-section__card-num.font-s-24.font-w-bold 04
            h4.about-section__card-text.font-s-24.font-w-bold Инновационный <br> подход
            p.font-s-16 Мы следим за изменениями 
              |в законодательстве и применяем новейшие технологии, чтобы предоставить нашим клиентам
              |лучшие решения. Активно используем онлайн-инструменты для эффективности взаимодействия 
              |с нашими клиентами.
        .swiper-progress.about-pagination
