section.finances-section
  .wrapper
    .finances-section__container
      h2.finances-section__title.font-s-50.font-w-inter-bold
        | Поможем запустить работу <br>
        | прибыльного бизнеса <br>
        mark в короткий срок
      p.finances-section__text Показатели, на которые вы можете рассчитывать, <br> открыв агентство по нашей франшизе:
      .swiper-finances
        .finances-section__cards.swiper-wrapper
          .finances-section__card.swiper-slide
            img(src="images/finances-section-icon1.svg" loading="lazy" width="40" height="40" alt="icon")
            .font-w-bold.font-s-24.finances-section__card-item 5 месяцев
            p срок окупаемости <br> одного агентства
          .finances-section__card.swiper-slide
            img(src="images/finances-section-icon2.svg" loading="lazy" width="40" height="40" alt="icon")
            .font-w-bold.font-s-24.finances-section__card-item с 1 месяца
            p работы вы начнете <br> получать прибыль
          .finances-section__card.swiper-slide
            img(src="images/finances-section-icon3.svg" loading="lazy" width="40" height="40" alt="icon")
            .font-w-bold.font-s-24.finances-section__card-item 21 день
            p потребуется <br> для старта бизнеса
          .finances-section__card.swiper-slide
            img(src="images/finances-section-icon4.svg" loading="lazy" width="40" height="40" alt="icon")
            .font-w-bold.font-s-24.finances-section__card-item 1 552 000 рублей
            p средняя ежемесячная выручка
          .finances-section__card.swiper-slide
            img(src="images/finances-section-icon5.svg" loading="lazy" width="40" height="40" alt="icon")
            .font-w-bold.font-s-24.finances-section__card-item 35,6 %
            p рентабельность <br> по чистой прибыли
          .finances-section__card.swiper-slide
            img(src="images/finances-section-icon6.svg" loading="lazy" width="40" height="40" alt="icon")
            .font-w-bold.font-s-24.finances-section__card-item 552 000 рублей
            p средняя ежемесячная <br> чистая прибыль
        .swiper-progress.finances-pagination
      .finances-section__items
        p Хотите получить подробные расчеты <br> для вашего города и под ваш бюджет?
        h3.finances-section__item.font-s-50.font-w-inter-bold Получите финансовую <br> модель франшизы
      .finances-section__bottom
        img.finances-section__bottom-girl(src="images/finances-section-girl.png" loading="lazy" width="515" height="343" alt="icon")
        img.finances-section__bottom-flowers(src="images/finances-section-flowers.png" loading="lazy" width="124" height="263" alt="icon")
        form.finances-section__form.horizontal-form(data-feedback-form)
            input.input-finances(type="text" name="name" autocomplete="off" placeholder="Имя")
            input.input-finances(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
            button.btn-finances(type="submit") Cкачать

