footer.footer
  .footer__inner
    .header__title.font-s-18 Франшиза юридического агентства <br> по защите должников и дольщиков
    include ../components/logo.pug
    .footer__connection
      include ../components/phone-number.pug