header.header
  .wrapper-sub
    .header__inner
      .header__title.font-s-18 Франшиза юридического агентства <br> по защите должников и дольщиков
      include ../components/logo.pug
      .header__connection
        include ../components/phone-number.pug





