section.help-section
  .wrapper
    .help-section__container
      .help-section__title
        h3.font-s-50.font-w-inter-bold Как мы поможем вам на старте
      .swiper-about
        .help-section__items.swiper-wrapper
          .help-section__item.swiper-slide
            .help-section__item-text Проведем 6-ти дневное <br> онлайн-обучение для вас и сотрудников
            .help-section__item-number.font-s-26.font-w-bold 1
          .help-section__item.swiper-slide
            .help-section__item-text Поможем собрать команду сильных специалистов
            .help-section__item-number.font-s-26.font-w-bold 2
          .help-section__item.swiper-slide
            .help-section__item-text Дадим рекомендации по побору помещения для агентства
            .help-section__item-number.font-s-26.font-w-bold 3
          .help-section__item.swiper-slide
            .help-section__item-text Поможем с ведением работы маркетинга и поиском клиентов
            .help-section__item-number.font-s-26.font-w-bold 4
          .help-section__item.swiper-slide
            .help-section__item-text Дадим рекомендации по организации общих процессов
            .help-section__item-number.font-s-26.font-w-bold 5
          .help-section__item.swiper-slide
            .help-section__item-text Добавим в закрытое сообщество партнеров
            .help-section__item-number.font-s-26.font-w-bold 6
        .swiper-progress.about-pagination
      .help-section__card
        p Работаем по договору,
        p в котором описаны все обязанности
        p и условия сотрудничества
      .help-section__button
        button.btn-help(data-remodal-target="modal-form-help") Скачать пример договора