.phone-number
  a.font-s-18(href="tel:+79000000000")
    img(src="images/phone-icon.svg" alt="phone" loading="lazy" width="20" height="20")
    p.phone-number__code +7 (900) 
    p.f-700.phone-number__end 000-00-00