section.presentation-section
  .wrapper
    .presentation-section__container
      .presentation-section__title.font-s-50.font-w-inter-bold Получите подробную 
        <br> презентацию франшизы 
        <br> «ВСЕ ХОРОШО» в 1 клик
      form.horizontal-form-start(data-feedback-form)
        input.input-finances(type="text" name="name" autocomplete="off" placeholder="Имя")
        input.input-finances(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="+7 (___) ___-__-__")
        button.btn-finances(type="submit") Cкачать