section.thanks-section
  .wrapper
    .thanks-section__container
      h1.thanks-section__title.font-s-50.font-w-inter-bold
        |НАШИ МЕНЕДЖЕРЫ УЖЕ ЗАНИМАЮТСЯ ВАШЕЙ ЗАЯВКОЙ
      p.thanks-section__text.font-s-24.font-w-bold
        |Мы свяжемся с Вами в ближайшее время
      a.btn-modal-form(href="index.html") Вернуться на главную