doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Зарабатывайте от 552 000 рублей ежемесячно на самых популярных юридических услугах")
    meta(name="HandheldFriendly" content="True")
    meta(name="MobileOptimized" content="width")

    link(rel="icon" href="favicon.ico" type="image/x-icon")

    link(rel="stylesheet", href="css/vendor.css")
    link(rel="stylesheet", href="css/reset.css")
    link(rel="stylesheet", href="css/main.css")

    block head
      title «Все Хорошо» - Франшиза юридического агентства по защите должников и дольщиков


  body
    block body
    include ../components/privacy
    include ../components/modalFormHelp

    block scripts
      script(src='https://api-maps.yandex.ru/2.1/?apikey=c3472711-0044-40b4-92fe-e8200d2156a0&load=package.map&lang=ru-RU&ver=2.')
      script(src="js/vendor.js")
      script(src="js/validation.js")
      script(src="js/feedback.js")
      script(src="js/app.js")
