extends ../layouts/base

block body
  .layout
    .wrapper
      .thanks-header
        include ../components/header
    main.main
      include ../components/thanksSection.pug
    .wrapper
      .thanks-header
        include ../components/header