.about-section
  background-image: url("../images/about-section-bg.jpeg")
  background-repeat: no-repeat
  background-position: center
  background-size: cover

  &__container
    position relative
    padding-top 50px
    +above($breakpoints.sm)
      padding-top 120px

  &__title
    text-align: center

  &__text
    text-align: center
    padding 40px 0 67px 0

  &__cards
    width 300px !important
    +above($breakpoints.xs)
      width 360px !important
    +above($breakpoints.lg)
      width 100% !important
      display: flex
      flex-wrap: wrap
      justify-content center
      row-gap: 60px
      column-gap: 440px

  &__card
    width 300px !important
    height: 340px
    padding: 21px 10px 61px 10px
    position relative
    text-align: center
    border-radius: 20px
    background-color #F9FFF0
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgb(80, 116, 8)' stroke-width='3' stroke-dasharray='10' stroke-dashoffset='1' stroke-linecap='round'/%3e%3c/svg%3e")
    +above($breakpoints.xs)
      width 360px !important
      padding: 21px 18px 61px 18px

  &__card-text
    padding-bottom 13px

  &__card-num
    padding-bottom 23px
    color: #618404

  &__card-img
    position: absolute
    top: -28px;
    left: 111px;
    +above($breakpoints.xs)
      left: 142px;

  &__girl
    padding-top 20px
    width 300px
    height: auto
    margin: 0 auto
    +above($breakpoints.lg)
      width 436px
      position: absolute
      bottom: 0
      left: 50%
      transform: translateX(-50%)

