.btn-main
  height: 80px
  width 100%
  position: relative
  display: flex;
  justify-content: center
  align-items: center
  overflow: hidden
  color: $color-white
  border-radius: 100px
  background: $color-green-main
  font-family: "Manrope-Bold"
  font-weight: 700
  font-size: 18px;
  line-height: 120%
  transition background 0.3s, position 0.3s
  +above($breakpoints.sm)
    height: 100px;
  +above($breakpoints.md)
    height: 120px

  &:hover
    background: #98cc08

  &:active
    top: 3px

  &::before
    content: ""
    position: absolute
    top: 0;
    height: 100%;
    width: 36px;
    transform: skewX(-45deg)
    left: -150%
    pointer-events: none
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 4s infinite ease-in;
    vendord = official
    @keyframes flareAnimation {
      0% {
          left: -150%;
      }
      100% {
          left: 250%;
      }
    }



.btn-finances
  height: 50px
  width 100%
  width: 260px
  position: relative
  display: flex;
  justify-content: center
  align-items: center
  overflow: hidden
  color: $color-white
  border-radius: 100px
  background: $color-green-main
  font-family: "Manrope-Bold"
  font-weight: 700
  font-size: 18px;
  line-height: 140%
  transition background 0.3s, position 0.3s
  +above($breakpoints.sm)
    height: 60px;
  +above($breakpoints.md)
    height: 80px

  &:hover
    background: #98cc08

  &:active
    top: 3px

  &::before
    content: ""
    position: absolute
    top: 0;
    height: 100%;
    width: 36px;
    transform: skewX(-45deg)
    left: -150%
    pointer-events: none
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 4s infinite ease-in;
    vendord = official
    @keyframes flareAnimation {
      0% {
          left: -150%;
      }
      100% {
          left: 250%;
      }
    }


.btn-questions
  height: 50px
  width 100%
  width: 260px
  position: relative
  display: flex;
  justify-content: center
  align-items: center
  overflow: hidden
  color: $color-white
  border-radius: 100px
  background: $color-green-main
  font-family: "Manrope-Bold"
  font-weight: 700
  font-size: 18px;
  line-height: 140%
  transition background 0.3s, position 0.3s
  +above($breakpoints.sm)
    height: 60px;
  +above($breakpoints.md)
    height: 80px

  &:hover
    background: #98cc08

  &:active
    top: 3px

  &::before
    content: ""
    position: absolute
    top: 0;
    height: 100%;
    width: 36px;
    transform: skewX(-45deg)
    left: -150%
    pointer-events: none
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 4s infinite ease-in;
    vendord = official
    @keyframes flareAnimation {
      0% {
          left: -150%;
      }
      100% {
          left: 250%;
      }
    }


.btn-investments
  height: 50px
  width 100%
  position: relative
  display: flex;
  justify-content: center
  align-items: center
  overflow: hidden
  color: $color-white
  border-radius: 100px
  background: $color-green-main
  font-family: "Manrope-Bold"
  font-weight: 700
  font-size: 18px;
  line-height: 140%
  transition background 0.3s, position 0.3s
  +above($breakpoints.sm)
    height: 60px;
  +above($breakpoints.md)
    height: 100px

  &:hover
    background: #98cc08

  &:active
    top: 3px

  &::before
    content: ""
    position: absolute
    top: 0;
    height: 100%;
    width: 36px;
    transform: skewX(-45deg)
    left: -150%
    pointer-events: none
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 4s infinite ease-in;
    vendord = official
    @keyframes flareAnimation {
      0% {
          left: -150%;
      }
      100% {
          left: 250%;
      }
    }

.btn-help
  height: 50px
  width 100%
  max-width 300px
  position: relative
  display: flex;
  justify-content: center
  align-items: center
  overflow: hidden
  color: $color-white
  border-radius: 100px
  background: $color-green-main
  font-family: "Manrope-Bold"
  font-weight: 700
  font-size: 18px;
  line-height: 140%
  transition background 0.3s, position 0.3s
  +above($breakpoints.sm)
    height: 60px;
  +above($breakpoints.md)
    height: 95px

  &:hover
    background: #98cc08

  &:active
    top: 3px

  &::before
    content: ""
    position: absolute
    top: 0;
    height: 100%;
    width: 36px;
    transform: skewX(-45deg)
    left: -150%
    pointer-events: none
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 4s infinite ease-in;
    vendord = official
    @keyframes flareAnimation {
      0% {
          left: -150%;
      }
      100% {
          left: 250%;
      }
    }


.btn-modal-form
  height: 40px
  width 100%
  position: relative
  display: flex;
  justify-content: center
  align-items: center
  overflow: hidden
  color: $color-white
  border-radius: 100px
  background: #89B906
  font-family: "Manrope-Bold"
  font-weight: 700
  font-size: 18px;
  line-height: 140%
  transition background 0.3s, position 0.3s
  +above($breakpoints.sm)
    height: 45px;
  +above($breakpoints.md)
    height: 50px

  &:hover
    background: #98cc08

  &:active
    top: 3px

  &::before
    content: ""
    position: absolute
    top: 0;
    height: 100%;
    width: 36px;
    transform: skewX(-45deg)
    left: -150%
    pointer-events: none
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 4s infinite ease-in;
    vendord = official
    @keyframes flareAnimation {
      0% {
          left: -150%;
      }
      100% {
          left: 250%;
      }
    }
