.btn-main
  height: 80px
  width 100%
  position: relative
  display: flex;
  justify-content: center
  align-items: center
  overflow: hidden
  color: $color-white
  border-radius: 100px
  background: $color-green-main
  font-family: "Manrope-Bold"
  font-weight: 700
  font-size: 18px;
  line-height: 120%
  +above($breakpoints.sm)
    height: 100px;
  +above($breakpoints.md)
    height: 120px

  &:hover
    opacity 0.8

  &:active
    top: 3px

  // animation: pulse 4s infinite;
  // @keyframes pulse {
  //   0% {
  //     transform: scale(1);
  //   }
  //   50% {
  //     transform: scale(0.9);
  //   }
  //   100% {
  //     transform: scale(1);
  //   }
  // }


.btn-finances
  height: 50px
  width 100%
  width: 260px
  position: relative
  display: flex;
  justify-content: center
  align-items: center
  overflow: hidden
  color: $color-white
  border-radius: 100px
  background: $color-green-main
  font-family: "Manrope-Bold"
  font-weight: 700
  font-size: 18px;
  line-height: 140%
  +above($breakpoints.sm)
    height: 60px;
  +above($breakpoints.md)
    height: 80px

  &:hover
    opacity 0.8

  &:active
    top: 3px



.btn-questions
  height: 50px
  width 100%
  width: 260px
  position: relative
  display: flex;
  justify-content: center
  align-items: center
  overflow: hidden
  color: $color-white
  border-radius: 100px
  background: $color-green-main
  font-family: "Manrope-Bold"
  font-weight: 700
  font-size: 18px;
  line-height: 140%
  +above($breakpoints.sm)
    height: 60px;
  +above($breakpoints.md)
    height: 80px

  &:hover
    opacity 0.8

  &:active
    top: 3px


.btn-investments
  height: 50px
  width 100%
  position: relative
  display: flex;
  justify-content: center
  align-items: center
  overflow: hidden
  color: $color-white
  border-radius: 100px
  background: $color-green-main
  font-family: "Manrope-Bold"
  font-weight: 700
  font-size: 18px;
  line-height: 140%
  +above($breakpoints.sm)
    height: 60px;
  +above($breakpoints.md)
    height: 100px

  &:hover
    opacity 0.8

  &:active
    top: 3px

.btn-help
  height: 50px
  width 100%
  max-width 300px
  position: relative
  display: flex;
  justify-content: center
  align-items: center
  overflow: hidden
  color: $color-white
  border-radius: 100px
  background: $color-green-main
  font-family: "Manrope-Bold"
  font-weight: 700
  font-size: 18px;
  line-height: 140%
  +above($breakpoints.sm)
    height: 60px;
  +above($breakpoints.md)
    height: 95px

  &:hover
    opacity 0.8

  &:active
    top: 3px


.btn-modal-form
  height: 40px
  width 100%
  position: relative
  display: flex;
  justify-content: center
  align-items: center
  overflow: hidden
  color: $color-white
  border-radius: 100px
  background: #89B906
  font-family: "Manrope-Bold"
  font-weight: 700
  font-size: 18px;
  line-height: 140%
  +above($breakpoints.sm)
    height: 45px;
  +above($breakpoints.md)
    height: 50px

  &:hover
    opacity 0.8

  &:active
    top: 3px
