.header
  &__inner
    max-width: 300px
    margin 0 auto
    display: flex
    align-items: center
    justify-content space-between
    +above($breakpoints.sm)
      max-width: 460px
    +above($breakpoints.md)
      max-width: none
      flex-direction: column
      gap: 12px

    +above($breakpoints.md)
      justify-content space-between
      flex-direction: row
      align-items: center

  &__logo
    display: none
    +above($breakpoints.md)
      display: block

  &__logo-mobile
    width 140px
    height: auto
    +above($breakpoints.md)
      display: none

  &__title
    display: none
    +above($breakpoints.md)
      display: block
      color $color-grey
      text-align: center
