.main-section
  background-image: url("../images/main-section-plant.png"),url("../images/main-section-bg.jpeg")
  background-repeat: no-repeat
  background-position: calc(50% - 1225px) 219px, center
  background-size: contain, cover

  &__container
    padding: 30px 0 30px 0
    +above($breakpoints.md)
      padding: 48px 0 172px 0

  &__inner
    display: flex
    flex-direction: column
    gap 30px
    align-items: center
    +above($breakpoints.lg)
      align-items: flex-end
      flex-direction: row
      justify-content space-between

  &__text
    width 100%
    max-width: 569px
    padding-top 30px
    +above($breakpoints.md)
      padding-top 0px

  &__title
    text-align: center
    +above($breakpoints.md)
      text-align: start

  &__sub-title
    padding: 43px 0
    text-align: center
    +above($breakpoints.md)
      text-align: start

  &__form-main
    margin: 0 auto
    width 100%
    width: 300px
    max-height 270px
    padding: 30px 20px
    border-radius: 20px
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgb(80, 116, 8)' stroke-width='3' stroke-dasharray='10' stroke-dashoffset='1' stroke-linecap='round'/%3e%3c/svg%3e")
    display: flex
    flex-direction: column
    gap: 20px
    +above($breakpoints.sm)
      width 560px
    +above($breakpoints.lg)
      width: 460px
      margin: 0


  &__form-adaptive
    display: flex
    flex-direction: column
    gap 20px
    +above($breakpoints.sm)
      flex-direction: row

  &__img
    width 300px
    height auto
    border-radius: 20px
    +above($breakpoints.sm)
      width 560px
      height: 678px
