.phone-number
  color $color-grey
  display: flex

  &__code
    font-size: 14px
    +above($breakpoints.md)
      padding-left: 20px
      font-size: inherit

  &__img
    display: none
    +above($breakpoints.md)
      display: block
