.swiper-about
  margin: 0 auto
  width 300px !important
  +above($breakpoints.xs)
    width 360px !important
  +above($breakpoints.sm)
    width 100% !important

.swiper-big
  margin: 0 auto
  width 300px !important
  +above($breakpoints.xs)
    width 360px !important
  +above($breakpoints.lg)
    width 100% !important
    padding-bottom 20px