.textarea-questions
  border: 1px solid black
  border-radius: 20px
  padding 30px 20px
  background-color inherit
  width 260px
  height: 180px
  color: black
  &::placeholder
    color: black
  &.error
      border 1px solid $color-error
      color: $color-error
      &::placeholder
        color: $color-error
      &::-ms-input-placeholder
        color: $color-error
      animation: shake 0.6s;
      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0)
        }
        
        20%, 80% {
          transform: translate3d(2px, 0, 0)
        }

        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0)
        }

        40%, 60% {
          transform: translate3d(4px, 0, 0)
        }
      }