.text-up
  text-transform: uppercase
.text-init
  text-transform: initial
.text-center
  text-align: center
.text-left
  text-align: left
.text-right
  text-align: right
.text-ital
  font-style: italic
.text-bold
  font-weight: bold


.color-white
  color: $color-white
.color-black
  color: $color-black
.color-green-main
  color: $color-green-main
.color-green-sub
  color: $color-green-sub
.color-grey
  color: $color-grey


.font-w-thin
  font-family: "Manrope-Thin"
  font-weight: 100
.font-w-extra-light
  font-family: "Manrope-ExtraLight"
  font-weight: 200
.font-w-light
  font-family: "Manrope-Light"
  font-weight: 300
.font-w-regular
  font-family: "Manrope-Regular"
  font-weight: 400
.font-w-medium
  font-family: "Manrope-Medium"
  font-weight: 500
.font-w-semi-bold
  font-family: "Manrope-SemiBold"
  font-weight: 600
.font-w-bold
  font-family: "Manrope-Bold"
  font-weight: 700
.font-w-extra-bold
  font-family: "Manrope-ExtraBold"
  font-weight: 800
.font-w-black
  font-family: "Manrope-Black"
  font-weight: 900

.font-w-inter-bold
  font-family: "InterTight-Bold"
  font-weight: 700


.font-s-12
  font-size: 10px
  line-height: 140%
  +above($breakpoints.md)
    font-size: 11px
  +above($breakpoints.xxl)
    font-size: 12px
.font-s-14
  font-size: 11px
  line-height: 130%
  +above($breakpoints.md)
    font-size: 13px
  +above($breakpoints.xxl)
    font-size: 14px
.font-s-16
  line-height: 140%
  font-size: 14px
  +above($breakpoints.sm)
    font-size: 13px
  +above($breakpoints.md)
    font-size: 14px
  +above($breakpoints.xxl)
    font-size: 16px
.font-s-18
  font-size: 16px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 14px
  +above($breakpoints.md)
    font-size: 17px
  +above($breakpoints.xxl)
    font-size: 18px
.font-s-20
  font-size: 18px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 16px
  +above($breakpoints.md)
    font-size: 18px
  +above($breakpoints.xxl)
    font-size: 20px
.font-s-22
  font-size: 19px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 16px
  +above($breakpoints.md)
    font-size: 19px
  +above($breakpoints.xxl)
    font-size: 22px
.font-s-24
  font-size: 16px
  line-height: 140%
  +above($breakpoints.sm)
    font-size: 18px
  +above($breakpoints.md)
    font-size: 19px
  +above($breakpoints.xxl)
    font-size: 24px
.font-s-26
  font-size: 23px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 20px
  +above($breakpoints.md)
    font-size: 22px
  +above($breakpoints.xxl)
    font-size: 26px
.font-s-28
  font-size: 25px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 22px
  +above($breakpoints.md)
    font-size: 24px
  +above($breakpoints.xxl)
    font-size: 28px
.font-s-30
  font-size: 20px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 22px
  +above($breakpoints.md)
    font-size: 24px
  +above($breakpoints.xxl)
    font-size: 30px
.font-s-36
  font-size: 20px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 24px
  +above($breakpoints.md)
    font-size: 30px
  +above($breakpoints.xxl)
    font-size: 36px
.font-s-40
  font-size: 20px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 24px
  +above($breakpoints.md)
    font-size: 30px
  +above($breakpoints.xxl)
    font-size: 40px
.font-s-42
  font-size: 20px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 24px
  +above($breakpoints.md)
    font-size: 30px
  +above($breakpoints.xxl)
    font-size: 42px
.font-s-48
  font-size: 20px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 30px
  +above($breakpoints.md)
    font-size: 36px
  +above($breakpoints.xxl)
    font-size: 48px
.font-s-50
  font-size: 24px
  line-height: 100%
  +above($breakpoints.sm)
    font-size: 30px
  +above($breakpoints.md)
    font-size: 40px
  +above($breakpoints.xxl)
    font-size: 50px
.font-s-52
  font-size: 20px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 24px
  +above($breakpoints.md)
    font-size: 30px
  +above($breakpoints.xxl)
    font-size: 52px
.font-s-62
  font-size: 20px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 30px
  +above($breakpoints.md)
    font-size: 40px
  +above($breakpoints.xxl)
    font-size: 62px

