$base-font-family = "Manrope-Regular"

$breakpoints = {
  xs: 480px,
  sm: 768px,
  md: 1024px,
  lg: 1200px,
  xl: 1300px,
  xxl: 1400px,
  xxxl: 1500px,
  xxxxxxl: 1921px,
}

$color-green-main = #89B906
$color-green-sub = #507408
$color-grey = #2A2A2A


$color-error = #d94c4c
$color-success = #35b24a
$color-warning = #ffa526
$color-white = #FFFFFF
$color-black = #000000
